<footer>
    <div class="footer-top">
        <div class="footer-brand">
            <h2>Pearl Skin</h2>
            <p>Skincare that celebrates<br>your natural beauty.</p>
            <div class="footer-social">
                <img src="${pageContext.request.contextPath}/static/images/instagram.png" alt="Instagram">
                <img src="${pageContext.request.contextPath}/static/images/facebook.png" alt="Facebook">
                <img src="${pageContext.request.contextPath}/static/images/tik-tok.png" alt="TikTok">
                <img src="${pageContext.request.contextPath}/static/images/whatsapp.png" alt="Whatsapp">
            </div>
        </div>
        <div class="footer-col">
            <h4>Quick links</h4>
            <ul>
                <li><a href="">Home</a></li>
                <li><a href="">Shop</a></li>
                <li><a href="">Store Location</a></li>
                <li><a href="">About us</a></li>
            </ul>
        </div>
        <div class="footer-col">
            <h4>Contact us</h4>
            <ul>
                <li>&#128205; Srijanachowk, Pokhara</li>
                <li>&#128222; +977-9745999770</li>
                <li>&#9993; pearlskin@gmail.com</li>
            </ul>
        </div>
    </div>

    <div class="footer-bottom">
        <p>&copy; 2024 Pearl Skin. All rights reserved.</p>
    </div>
</footer>